@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2'); 
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root{
    --back-cor: #000000;
    --rodape-cor:#464340;
    --letra-cor: white;
    --letrainfo-cor:white;
    --letrasNEON-cor: #7fb8ff;
    --corback-signup: #436996;
    --corblocos: #3e3d3d;

    --fontes-NEON:'Big Shoulders Display', sans-serif;
    --fontes-cabecalho:'Montserrat Light', sans-serif;

    --fonte-rodape1: 'League Gothic', sans-serif;
    --fonte-lateral:'Montserrat Classic', sans-serif;

    --fonte-infos:'Glacial Indifference', sans-serif;
    --fonte-PROCORE: 'Glegoo', sans-serif;

    
}

* {
    margin: 0; 
    padding: 0;
}

body{
    background-color: var(--back-cor);
    color: var(--letra-cor);
}

.cabecalho{
    width: 1200px;
    margin: 30px auto 50px auto;
    text-decoration: none;
}


.Home{
    font-size: 18px;
    text-decoration: none;
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    top: 8%;
    left: 5%;
}

.Home:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--letrasNEON-cor);
    color: var(--letrasNEON-cor);
}

.Impressoras3D{
    font-size: 18px;
    text-decoration: none;
    color: var(--letra-cor);
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    left: 15%;
    top: 8%;
}

.Impressoras3D:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--letrasNEON-cor);
    color: var(--letrasNEON-cor);
}

.Filamentos{
    font-size: 18px;
    text-decoration: none;
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    left: 30%;
    top: 8%;
}

.Filamentos:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--letrasNEON-cor);
    color: var(--letrasNEON-cor);
}

.Componentes{
    font-size: 18px;
    text-decoration: none;
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    left: 60%;
    top: 8%;
    z-index: 1;
}

.Componentes:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--letrasNEON-cor);
    color: var(--letrasNEON-cor);
}

.Acessorios{
    font-size: 18px;
    text-decoration: none;
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    left: 75%;
    top: 8%;
    z-index: 1;
}

.Acessorios:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--letrasNEON-cor);
    color: var(--letrasNEON-cor);
}

.SignUp{
    font-size: 15px;
    text-decoration: none;
    color: var(--letra-cor);
    font-family: var(--fontes-cabecalho);
    font-weight: 100;
    position: absolute;
    left: 90%;
    top: 7%;
    border: 3px solid var(--corback-signup);
    padding: 8px 15px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
}

.SignUp:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
    
}

.Logo{
    align-items: center;
    position: absolute;
    left: 42%;
    top: 3%;
}

.Carrinho{
    position: absolute;
    left: 87%;
    top: 8%;

}

.BarraPesquisa{
    position: absolute;
    left: 84%;
    top: 8%;

}

.titulo{
    font-family: var(--fonte-lateral);
    color: var(--letra-cor);
    position: absolute;
    top: 15%;
    font-weight: bold;
    left: 42%;
}

.linha{
    position: absolute;
    top:21% ;
    left: 31%;
}

.bloco1{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 25%;
    left: 12%;
}

.Caneta{
    position: absolute;
    left: 17%;
    width: 400px;
    z-index: 1;
    top: 27%;
}

.frase_Caneta{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 79%;
    left: 14%;
    z-index: 1;
}

.preco_Caneta{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 89%;
    left: 14%;
    z-index: 1;
}

.add1{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 88%;
    left: 38%;
} 

.add1:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.bloco2{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 25%;
    left: 50%;
}

.Secure{
    position: absolute;
    left: 54%;
    width: 380px;
    z-index: 1;
    top: 23%;
}

.frase_Secure{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 79%;
    left: 53%;
    z-index: 1;
}

.preco_Secure{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 89%;
    left: 53%;
    z-index: 1;
}

.add2{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 88%;
    left: 76%;
} 

.add2:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.bloco3{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 100%;
    left: 50%;
}

.Bambu{
    position: absolute;
    left: 54%;
    width: 400px;
    z-index: 1;
    top: 110%;
}

.frase_Bambu{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 153%;
    left: 53%;
    z-index: 1;
}

.preco_Bambu{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 163%;
    left: 53%;
    z-index: 1;
}

.add3{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 162%;
    left: 76%;
} 

.add3:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.bloco4{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 100%;
    left: 12%;
}

.Camara{
    position: absolute;
    left: 15%;
    width: 380px;
    z-index: 1;
    top: 103%;
}

.frase_Camara{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 153%;
    left: 14%;
    z-index: 1;
}

.preco_Camara{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 163%;
    left: 14%;
    z-index: 1;
}

.add4{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 162%;
    left: 38%;
} 

.add4:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.bloco5{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 175%;
    left: 12%;
}

.Limpador{
    position: absolute;
    left: 16%;
    width: 400px;
    z-index: 1;
    top: 185%;
}

.frase_Limpador{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 231%;
    left: 14%;
    z-index: 1;
}

.preco_Limpador{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 239%;
    left: 14%;
    z-index: 1;
}

.add5{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 238%;
    left: 38%;
} 

.add5:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.bloco6{
    border: 10px solid var(--corblocos);
    padding: 250px 250px;
    border-radius: 25px;
    z-index: auto;
    background-color: var(--corblocos);
    position: absolute;
    top: 175%;
    left: 50%;
}

.Scanner{
    position: absolute;
    left: 54%;
    width: 380px;
    z-index: 1;
    top: 175%;
}

.frase_Scanner{
    font-family: var(--fontes-cabecalho);
    font-size: 25px;
    position: absolute;
    top: 231%;
    left: 53%;
    z-index: 1;
}

.preco_Scanner{
    font-family: var(--fontes-cabecalho);
    font-size: 30px;
    position: absolute;
    top: 239%;
    left: 53%;
    z-index: 1;
}

.add6{
    border: 3px solid var(--corback-signup);
    padding: 10px 30px;
    border-radius: 25px;
    text-align:center ;
    background-color: var(--corback-signup);
    z-index: 1;
    position: absolute;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
    top: 238%;
    left: 76%;
} 

.add6:hover{
    background-color: var(--letrasNEON-cor);
    border: var(--letrasNEON-cor);
}

.estrelacheia{
    top: 200px;
    right: 55%;
    z-index: 1;
    position: absolute;
}

.estrelavazada_1{
    top: 200px;
    left: 81%;
    z-index: 1;
    position: absolute;
}

.estrelavazada_2{
    top: 102%;
    left: 81%;
    z-index: 1;
    position: absolute;
}

.estrelavazada_3{
    top: 102%;
    right: 55%;
    z-index: 1;
    position: absolute;
}

.estrelavazada_4{
    top: 177%;
    left: 81%;
    z-index: 1;
    position: absolute;
}

.estrelavazada_5{
    top: 177%;
    right: 55%;
    z-index: 1;
    position: absolute;
}

.rodape{
    position: absolute;
    top: 250%;
    border: 3px solid var(--rodape-cor);
    background-color: var(--rodape-cor);
    padding: 270px 757px;
    border-radius: 2px;
}

.pague{
    position: absolute;
    left: 18%;
    top: 280%;
    font-size: 35px;
    font-family: var(--fonte-rodape1);
}

.logorodape{
    position: absolute;
    top: 260%;
    left: 10%;
}

.pagamentos{
    position: absolute;
    top: 288%;
    left: 10%;
}

.conteudo{
    position: absolute;
    left: 80%;
    top: 260%;
    font-size: 35px;
    font-family: var(--fonte-rodape1);
}

.fale{
    text-decoration: none;
    color: var(--letrainfo-cor);
    position: absolute;
    left: 80.3%;
    top: 266%;
    font-family: var(--fontes-cabecalho);
    font-size: 15px;
}

.politica{
    text-decoration: none;
    color: var(--letrainfo-cor);
    position: absolute;
    left: 78.2%;
    top: 270%;
    font-family: var(--fontes-cabecalho);
    font-size: 15px;
}

.trocas{
    text-decoration: none;
    color: var(--letrainfo-cor);
    position: absolute;
    left: 79.5%;
    top: 274%;
    font-family: var(--fontes-cabecalho);
    font-size: 15px;
}

.suporte{
    text-decoration: none;
    color: var(--letrainfo-cor);
    position: absolute;
    left: 79.9%;
    top: 278%;
    font-family: var(--fontes-cabecalho);
    font-size: 15px;
}

.atendimento{
    position: absolute;
    left: 49%;
    top: 260%;
    font-size: 35px;
    font-family: var(--fonte-rodape1);
}

.telefone{
    position: absolute;
    left: 48.2%;
    top: 266%;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);

}

.tel{
    position: absolute;
    left: 46.2%;
    top: 265.5%;
}

.wpp{
    position: absolute;
    left: 47.5%;
    top: 271%;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);

}

.wppimg{
    position: absolute;
    left: 46%;
    top: 271%;
}


.email{
    position: absolute;
    left: 46.4%;
    top: 276%;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
}

.mail{
    position: absolute;
    left: 44.5%;
    top: 276%;

}

.info{
    position: absolute;
    top: 320%;
    left: 15.5%;
    font-size: 15px;
    font-family: var(--fontes-cabecalho);
}
